* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  color: white;
  overflow-x: hidden;
}

html {
  scrollbar-width: none;
}

.nav {
  background: #707070;
  text-align: center;
  padding: 20px 0;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 0;
}

.desc {
  max-width: 500px;
}

.home h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.home p {
  font-size: 18px;
  margin-bottom: 20px;
}

.home button {
  background: #3b850a;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
}

.myimg img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.about {
  padding: 80px 20px;
  border-top: 1px solid white;
  text-align: center;
}

.about h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.about p {
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 1.6;
}

.skills {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.skill-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.skill img {
  width: 70px;
  height: 70px;
}

.skill p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}


.contact {
  padding: 80px 20px;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form input,
form textarea {
  width: 400px;
  padding: 10px;
  border: none;
}

form textarea {
  height: 100px;
  resize: none;
}

form button {
  background: #3b850a;
  color: white;
  border: none;
  padding: 12px 40px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}